h1{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: white;
    color: #1f2a38;
}
footer p{
    color: rgb(211, 211, 211);
}
/**
div{
    border: 1px  solid black;
}**/

.dark-mode{
    background-color: #1f2a38;
    color: white;
}
.darktbl th{
    border-bottom: 2px solid white !important;
}
.darktbl td{
    color: white;
}
#sun{
    display: none;
}


.bi-brightness-high:hover, .fa-moon:hover{
    cursor: pointer;
    -ms-transform: scale(0.91); /* IE 9 */
    -webkit-transform: scale(0.91); /* Safari 3-8 */
    transform: scale(0.91);
}
.tble{
    width: 75vmin;
}
td{
    cursor: pointer;
    padding-top: 1.5em !important;
}
