h1{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: white;
    color: #1f2a38;
}
/**
div{
    border: 1px  solid black;
}**/
.dark-mode{
    background-color: #1f2a38;
    color: white;
}
#sun{
    display: none;
}
.bi-brightness-high:hover, .fa-moon:hover{
    cursor: pointer;
    -ms-transform: scale(0.91); /* IE 9 */
    -webkit-transform: scale(0.91); /* Safari 3-8 */
    transform: scale(0.91);
}
.tble{
    width: 75vmin;
}
td{
    cursor: pointer;
    padding: 1.5em;
    border: 1px  solid black;
    border-radius: 100px;
}
